@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body, html {
    height: 100vh !important;
    overflow-y: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#myCanvas {
    background-color: #2f2f2f;
    width: 100%;
    height: 100vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#header {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-text {
    text-align: center;
    color: white;
    font-size: 3rem;
}

#header-subtext {
    text-align: center;
    color: white;
    font-size: larger;
}